.well {
  box-shadow: 0 2px 3px rgba(black, 0.1) inset;
  border-radius: 3px;
}

.well--empty {
  background: url('../local/well/assets/stripes.png');
  border: 1px solid #cecece;
  .retina & {
    background: url('../local/well/assets/stripes@2x.png');
    background-size: 50%;
  }
}

.well--hospital {
  position: relative;
  line-height: 16px;

  .icon {
    position: absolute;
    top: 12px;
    left: 15px;
  }
}